@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../Assets/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Klee One', sans-serif;
}
  
  .form {
    background-color: rgb(186, 207, 205, 0.8);
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 3px solid #1F211F;

  }

  .profile-image-container {
    position: absolute; 
    top: 50px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 150px; 
    height: 150px; 
    overflow: hidden;
    border-radius: 50%; 
    
  }
  
  .profile-image {
    width: 100%; 
    height: auto;
  }
  
  .title {
    text-align: center;
    color: #000000;
    margin-bottom: 1.5rem;
    
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000000;
    font-weight: bold;
    opacity: 1;
  }
  
  .input {
    display: flex;
    justify-content: center;
    width: 95%;
    padding: 0.70rem;
    border-radius: 7px;
    border: 1px;
    font-size: 1rem;
    font-family: 'klee one', sans-serif;
  }
  
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.75rem;
    background-color: #2D4841;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'klee one', sans-serif;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #2B2C28;
  }

  .link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
  
  .forgot-password {
    text-align: left;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .forgot-password-link {
    color: #2F6359;
    text-decoration: none;
  }

  .forgot-password-link:hover {
    border-radius: 10px;
    color: #1F211F;
  }
  
  .register {
    text-align: right;
    margin-top: 1rem;
    font-weight: bold;
  }
  
  .register-link {
    color: #2F6359;
    text-decoration: none;
  }
  .register-link:hover {
    border-radius: 10px;
    color: #1F211F;
  }
  